h1{
  background: rgba(0,255,0,0.7);
  color:rgba(255,0,255,0.7);
}
h3{
  background: rgba(0,0,0,0.7);
  color:rgba(0,255,0,1);
}
li{
  color:red;
  background: rgba(0,0,0,0.7);
  list-style:none;
}
li::before{
  content:'No:';
  margin-right:15px;
  color:rgba(0,255,0,0.7);
}