<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>
	<link rel="stylesheet" href="./css/app.css">
	<!-- http://codepen.io/xgqfrms/pen/wWVAaQ -->
	<!-- cdn -->
</head>
<body>
	<div>
		<div>
			<!-- <app-todo></app-todo> -->
			<div id="app-todo">
			<input v-model="newTodo" v-on:keyup.enter="addTodo" placeholder="press &lt;h3&gt;Enter&lt;#%2f;h3&gt; button to add items">
			  <ul>
			    <li v-for="todo in todos">
			      <span>{{ todo.text }}</span>
			      <button v-on:click="removeTodo($index)">X</button>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<!-- cdn -->
	<script src="http://cdn.xgqfrms.xyz/vue/1.0.26/vue.min.js"></script>
	<!-- <script src="./libs/vue.js"></script> -->
	<script src="./js/app.js"></script>
	<!-- <script src="./js/app.vue"></script> -->
	<!-- <script>
		import App-todo from './js/app'
		export default {
		  components: {
		    App-todo
		  }
		}
	</script> -->
	<script>
	    // === 与 ==
	    // http://www.cnblogs.com/xgqfrms/p/5769202.html
		var x=0;
		//undefined
		var y=false;
		//undefined
		if(x===y){
			console.log("all equal!")
		}else if(x==y){
			console.log("just value equal!")
		}else{
			console.log("not at all equal!")
		}
		//VM3163:1 just value equal!
		//undefined
	</script>
</body>
</html>